[submodule "bats"]
	path = bats
	url = https://github.com/sstephenson/bats/
[submodule "t/bats-support"]
	path = t/bats-support
	url = https://github.com/ztombol/bats-support/
[submodule "t/bats-assert"]
	path = t/bats-assert
	url = https://github.com/ztombol/bats-assert/
